<% content_for :title do 'Logs and Alerts' end %>
<h1>Logs / Alerts</h1>
<p>View Alerts and Information Logs</p>
			
			
			<div class="grid_12">
				<div class="block-border" id="tab-panel-1">
					<div class="block-header">
						<h1>Logs and Alerts</h1>
						<ul class="tabs">
							<li><a href="#tab-1">Logs</a></li>
							<li><a href="#tab-2">Alerts</a></li>
						
						</ul>
					</div>
					<div class="block-content tab-container">
						<div id="tab-1" class="tab-content">
							<p>
							<div class="block-content">
								<div class="alert info"><strong>Information</strong> System updated to latest version 03-28-2012 20:00 UTC </div>
								<div class="alert note"><strong>Note</strong> Power Usage Logs have been generated 03-29-2012 04:00 UTC</div>
								<div class="alert note"><strong>Note</strong> Network connection reset 03-29-2012 14:15 UTC</div>
							</div>								
							</p>
						</div>
						<div id="tab-2" class="tab-content">
							<p>
							<div class="block-content">
								<div class="alert error"><strong>Error</strong> Lost network access 03-29-2012 14:00 UTC</div>
								<div class="alert warning"><strong>Warning</strong> Unable to connect to network 03-29-2012 14:15 UTC</div>
								<div class="alert success"><strong>Success</strong> Network connection is established 03-29-2012 14:20 UTC</div>
							</div>			
							</p>
						</div>
					</div>
					<div class="block-content dark-bg">
						<p>Select from the tab to view from either alerts or logs.</p>
					</div>
				</div>
			</div>
			
			
			<div class="clear height-fix"></div>

<% content_for :ready_js do "$('#tab-panel-1').createTabs(); $('#tab-panel-2').createTabs();" end %>
