<% content_for :title do '- Dashboard' end %>

<% content_for :content do %>
        <h1>autoHome</h1>
        <p>This is the autoHome project.</p>
        <!-- 1-800-COMCAST billing ($539.10) -->
<% end %>

