<% content_for :title do 'Dashboard' end %>
<div class="grid_12">
				<h1>Dashboard</h1>
				
				<div class="alert info"><span class="hide">x</span><strong>Welcome to the autoHome Demo #1 presentation, this is an example of a notice notification that can be closed by clicking the x to the right.</strong></div>
</div>
			
			
			<div class="grid_4">
				<div class="block-border">
					<div class="block-header">
						<h1>Active Rules</h1><span></span>

					</div>
					<div class="block-content">
					
						<ul class="block-list with-icon">
							<% @active_rule_sets.each do |r| %>
							<li><%= link_to r.name, rule_set_path(r) %></li>
							<% end %>
						</ul>					
						
						
					</div>
					
				</div>
			</div>

			<div class="grid_4">
				<div class="block-border">
					<div class="block-header">
						<h1>Active Devices</h1><span></span>
					</div>
					<div class="block-content">
						<ul class="block-list with-icon">
<% @active_devices.each do |d| %>
							<li><%= link_to d.name, device_path(d) %></li>
<% end %>
						</ul>
					</div>
					<div class="block-content dark-bg">
						<p>Visit the <a href="/devices.html">Devices</a> page to see non active devices.</p>
					</div>
				</div>
			</div>
			
			<div class="grid_4">
				<div class="block-border">
					<div class="block-header">
						<h1>Important Alerts</h1><span></span>
					</div>
					<div class="block-content">
						<div class="alert info no-margin top">You have 1 new critical alert</div>
						<div class="alert error"><strong>Error</strong> Lost network access 03-29-2012 14:00 UTC</div>
						<div class="alert info no-margin top">You have 1 new warning</div>
						<div class="alert warning"><strong>Warning</strong> Door Ajar Sensor #1 is not responding 03-29-2012 14:15 UTC</div>
					</div>
				</div>
			</div>
			
			<div class="clear height-fix"></div>
