<% content_for :title do 'Dashboard' end %>
<h1>Dashboard</h1>
<div class="grid_12">	
				<div class="alert info"><span class="hide">x</span><strong>Welcome to the autoHome Demo #2 presentation, this is an example of a notice notification that can be closed by clicking the x to the right.</strong></div>
</div>
			
	
			<div class="grid_4">
				<div class="block-border">
					<div class="block-header">
						<h1>Active Rules</h1><span></span>

					</div>
					<div class="block-content">
					
						<ul class="block-list with-icon">
							<% @active_rule_sets.each do |r| %>
							<li><%= link_to r.name, rule_set_path(r) %></li>
							<% end %>
						</ul>					
						
						
					</div>
					
				</div>
			</div>
			
			<div class="grid_4">
				<div class="block-border">
					<div class="block-header">
						<h1>Active Devices</h1><span></span>
					</div>
					<div class="block-content">
						<ul class="block-list with-icon">
<% @active_devices.each do |d| %>
							<li><%= link_to d.name, device_path(d) %></li>
<% end %>
						</ul>
					</div>
					<div class="block-content dark-bg">
						<p>Visit the <a href="/devices.html">Devices</a> page to see non active devices.</p>
					</div>
				</div>
			</div>
			
			<div class="grid_4">
				<div class="block-border">
					<div class="block-header">
						<h1>Important Alerts</h1><span></span>
					</div>
					<div class="block-content">
						<div class="alert info no-margin top">You have 1 new critical alert</div>
						<div class="alert error"><strong>Error</strong> Lost network access 03-29-2012 14:00 UTC</div>
						<div class="alert info no-margin top">You have 1 new warning</div>
						<div class="alert warning"><strong>Warning</strong> Door Ajar Sensor #1 is not responding 03-29-2012 14:15 UTC</div>
					</div>
				</div>
			</div>
	<div class="clear height-fix"></div>
	<div class="grid_4">
				<div class="block-border">
					<div class="block-header">
						<h1>Local Weather</h1><span></span>

					</div>
					<div class="block-content">
					
					<div align="center">	<script type="text/javascript" src="http://www.showmyweather.com/weather_widget.php?int=0&type=js&country=us&state=New+Jersey&city=Piscataway&smallicon=0&current=1&forecast=1&background_color=fafafa&color=000000&width=175&padding=10&border_width=1&border_color=fafafa&font_size=18&font_family=Verdana&showicons=1&measure=F&d=2012-04-30"></script></a><div style="width:197px;text-align:center;font-size:0.6em;margin-top:0.5em;"></div></div>		
						
						
					</div>
					
				</div>
			</div>

<div class="grid_4">
				<div class="block-border">
					<div class="block-header">
						<h1>Favorite Stocks</h1><span></span>

					</div>
					<div class="block-content">

					<div align="center"><!-- Start of Yahoo! Finance code -->
<iframe allowtransparency="true" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" src="http://api.finance.yahoo.com/instrument/1.0/%5EIXIC,AAPL,GOOG,MSFT,BRKS,TXN,IBM,GME/badge;quote/HTML/f.white?AppID=T3_rHNfTTXkU2AybjqhbH3qhzgI-&sig=.w9hsd3db_okTdJLZlUP79cEUa8-&t=1335835592004" width="200px" height="320px"></iframe></div>
<!-- End of Yahoo! Finance code -->

					</div>
					
				</div>
			</div>

			<div class="clear height-fix"></div>
