/*
 * Grape - Professional & Flexible Admin Template
 * by Stammi <http://themeforest.net/user/Stammi>
 * 
 * -----------------
 * TABLE OF CONTENTS
 * -----------------
 * 
 * 1) Generic
 * 2) Pack: Fugue
 *   2.1) 16x16
 *   2.2) 24x24
 */


/* ==================================================
 * 1) Generic
 * ================================================== */

.icon {
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	
}








/* ==================================================
 * 2) Pack: Fugue
 * ================================================== */

/*
 * 2.1) 16x16
 */

.i-16-address-book { background-image: url("../images/address-book.png"); }
.i-16-alarm-clock { background-image: url("../images/alarm-clock.png"); }
.i-16-application { background-image: url("../images/application.png"); }
.i-16-application-monitor { background-image: url("../images/application-monitor.png"); }
.i-16-application-terminal { background-image: url("../images/application-terminal.png"); }
.i-16-balloon { background-image: url("../images/balloon.png"); }
.i-16-bank { background-image: url("../images/bank.png"); }
.i-16-block { background-image: url("../images/block.png"); }
.i-16-blue-document { background-image: url("../images/blue-document.png"); }
.i-16-blue-document-access { background-image: url("../images/blue-document-access.png"); }
.i-16-blue-document-binary { background-image: url("../images/blue-document-binary.png"); }
.i-16-blue-document-bookmark { background-image: url("../images/blue-document-bookmark.png"); }
.i-16-blue-document-break { background-image: url("../images/blue-document-break.png"); }
.i-16-blue-document-code { background-image: url("../images/blue-document-code.png"); }
.i-16-blue-document-copy { background-image: url("../images/blue-document-copy.png"); }
.i-16-blue-document-excel { background-image: url("../images/blue-document-excel.png"); }
.i-16-blue-document-excel-csv { background-image: url("../images/blue-document-excel-csv.png"); }
.i-16-blue-document-excel-table { background-image: url("../images/blue-document-excel-table.png"); }
.i-16-blue-document--exclamation { background-image: url("../images/blue-document--exclamation.png"); }
.i-16-blue-document-film { background-image: url("../images/blue-document-film.png"); }
.i-16-bookmark { background-image: url("../images/bookmark.png"); }
.i-16-calendar { background-image: url("../images/calendar.png"); }
.i-16-chart { background-image: url("../images/chart.png"); }
.i-16-chart-pie { background-image: url("../images/chart-pie.png"); }
.i-16-clipboard { background-image: url("../images/clipboard.png"); }
.i-16-clock { background-image: url("../images/clock.png"); }
.i-16-cross { background-image: url("../images/cross.png"); }
.i-16-cross-small { background-image: url("../images/cross-small.png"); }
.i-16-cutlery { background-image: url("../images/cutlery.png"); }
.i-16-dashboard { background-image: url("../images/dashboard.png"); }
.i-16-direction { background-image: url("../images/direction.png"); }
.i-16-drive { background-image: url("../images/drive.png"); }
.i-16-exclamation { background-image: url("../images/exclamation.png"); }
.i-16-exclamation-red { background-image: url("../images/exclamation-red.png"); }
.i-16-film { background-image: url("../images/film.png"); }
.i-16-flag { background-image: url("../images/flag.png"); }
.i-16-gear { background-image: url("../images/gear.png"); }
.i-16-home { background-image: url("../images/home.png"); }
.i-16-image { background-image: url("../images/image.png"); }
.i-16-key { background-image: url("../images/key.png"); }
.i-16-leaf { background-image: url("../images/leaf.png"); }
.i-16-license-key { background-image: url("../images/license-key.png"); }
.i-16-magnifier { background-image: url("../images/magnifier.png"); }
.i-16-mail { background-image: url("../images/mail.png"); }
.i-16-map { background-image: url("../images/map.png"); }
.i-16-minus { background-image: url("../images/minus.png"); }
.i-16-monitor { background-image: url("../images/monitor.png"); }
.i-16-music { background-image: url("../images/music.png"); }
.i-16-network-cloud { background-image: url("../images/network-cloud.png"); }
.i-16-notebook { background-image: url("../images/notebook.png"); }
.i-16-plus { background-image: url("../images/plus.png"); }
.i-16-question { background-image: url("../images/question.png"); }
.i-16-servers { background-image: url("../images/servers.png"); }
.i-16-star { background-image: url("../images/star.png"); }
.i-16-status { background-image: url("../images/status.png"); }
.i-16-status-away { background-image: url("../images/status-away.png"); }
.i-16-status-busy { background-image: url("../images/status-busy.png"); }
.i-16-sticky-note { background-image: url("../images/sticky-note.png"); }
.i-16-switch { background-image: url("../images/switch.png"); }
.i-16-system-monitor { background-image: url("../images/system-monitor.png"); }
.i-16-tag { background-image: url("../images/tag.png"); }
.i-16-telephone { background-image: url("../images/telephone.png"); }
.i-16-tick { background-image: url("../images/tick.png"); }

/*
 * 2.2) 24x24
 */

.i-24-address-book { background-image: url("../images/address-book.png"); }
.i-24-address-book-blue { background-image: url("../images/address-book-blue.png"); }
.i-24-alarm-clock { background-image: url("../images/alarm-clock.png"); }
.i-24-alarm-clock-blue { background-image: url("../images/alarm-clock-blue.png"); }
.i-24-application { background-image: url("../images/application.png"); }
.i-24-application-blue { background-image: url("../images/application-blue.png"); }
.i-24-balloon { background-image: url("../images/balloon.png"); }
.i-24-blue-document { background-image: url("../images/blue-document.png"); }
.i-24-blue-folder { background-image: url("../images/blue-folder.png"); }
.i-24-blue-folder-horizontal-open { background-image: url("../images/blue-folder-horizontal-open.png"); }
.i-24-book { background-image: url("../images/book.png"); }
.i-24-bookmark { background-image: url("../images/bookmark.png"); }
.i-24-calendar { background-image: url("../images/calendar.png"); }
.i-24-card-address { background-image: url("../images/card-address.png"); }
.i-24-color { background-image: url("../images/color.png"); }
.i-24-cross { background-image: url("../images/cross.png"); }
.i-24-database { background-image: url("../images/database.png"); }
.i-24-disk-black { background-image: url("../images/disk-black.png"); }
.i-24-document { background-image: url("../images/document.png"); }
.i-24-drive { background-image: url("../images/drive.png"); }
.i-24-edit { background-image: url("../images/edit.png"); }
.i-24-equalizer { background-image: url("../images/equalizer.png"); }
.i-24-folder { background-image: url("../images/folder.png"); }
.i-24-folder-horizontal-open { background-image: url("../images/folder-horizontal-open.png"); }
.i-24-home { background-image: url("../images/home.png"); }
.i-24-inbox { background-image: url("../images/inbox.png"); }
.i-24-inbox-document { background-image: url("../images/inbox-document.png"); }
.i-24-information { background-image: url("../images/information.png"); }
.i-24-keyboard { background-image: url("../images/keyboard.png"); }
.i-24-mail { background-image: url("../images/mail.png"); }
.i-24-mail-open { background-image: url("../images/mail-open.png"); }
.i-24-map { background-image: url("../images/map.png"); }
.i-24-marker { background-image: url("../images/marker.png"); }
.i-24-minus { background-image: url("../images/minus.png"); }
.i-24-monitor { background-image: url("../images/monitor.png"); }
.i-24-notebook { background-image: url("../images/notebook.png"); }
.i-24-pencil { background-image: url("../images/pencil.png"); }
.i-24-plus { background-image: url("../images/plus2.png"); }
.i-24-printer { background-image: url("../images/printer.png"); }
.i-24-question { background-image: url("../images/question.png"); }
.i-24-receipt { background-image: url("../images/receipt.png"); }
.i-24-server { background-image: url("../images/server.png"); }
.i-24-sitemap { background-image: url("../images/sitemap.png"); }
.i-24-smiley { background-image: url("../images/smiley.png"); }
.i-24-star { background-image: url("../images/star.png"); }
.i-24-star-empty { background-image: url("../images/star-empty.png"); }
.i-24-star-half { background-image: url("../images/star-half.png"); }
.i-24-sticky-note { background-image: url("../images/sticky-note.png"); }
.i-24-switch { background-image: url("../images/switch.png"); }
.i-24-tag { background-image: url("../images/tag.png"); }
.i-24-terminal { background-image: url("../images/terminal.png"); }
.i-24-ui-color-picker { background-image: url("../images/ui-color-picker.png"); }
.i-24-user { background-image: url("../images/user.png"); }
.i-24-user-business { background-image: url("../images/user-business.png"); }
.i-24-wand { background-image: url("../images/wand.png"); }



















