<% content_for :title do 'Edit Room ' + @room.name end %>

<h1>Edit Room <%= @room.name %></h1>
<div class="grid_4">
	<div class="block-border">
		<div class="block-header">
			<p align="right" ><%= link_to 'Show', @room %> | <%= link_to 'Back', rooms_path %>&nbsp;&nbsp;&nbsp;</p>
		</div>
	
	<%= render 'form' %>
	<div class="clear"></div>
	</div>
</div>

