<% content_for :title do 'Rooms and Locations' end %>
<h1> Rooms & Locations</h1>

    <%= render "rooms_table" %>
			
    <%= render "locations/locations_table" %>

<div class="clear height-fix"></div>
	

