<% content_for :title do 'Configure Rules' end %>
<h1>Configure Rules</h1>

<%= render 'rule_sets_table' %>
<%= render 'condition_sets/condition_sets_table' %>
<%= render 'action_sets/action_sets_table' %>

